@import "src/styles.scss";

.main {
  background-color: $flat-white;
  color: $primary-color;
  padding: 0.5rem;
  display: flex;
  flex-flow: column;

  .top-row {
    display: flex;
    flex-flow: row;

    gap: 10px;

    .basic-info {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 1.6rem;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    background-color: $espresso;
  }
}

img {
  width: 64px;
  height: 64px;

  background-color: $primary-color;
  border-radius: 5px;
  padding: 3px;
}
