<div class="page">

    <div class="main">
        <div class="main__title-screen">
            <!-- <div class="kawaka-title"> -->
            <app-kawaka-title></app-kawaka-title>
            <!-- </div> -->
            <!-- <img src="assets/layered-waves.svg"> -->
        </div>
    </div>
    <div class="waves">
    <app-nav-button class="nav__bottom" (click)="AboutButtonClick($event)">
        <span>
        About</span>
    </app-nav-button>
        </div>

    <app-nav-button class="nav__side nav__left">
        <a routerLink="/recipes">
            <span class="arrow">&#60;</span>
            <span>recipes</span>
        </a>
    </app-nav-button>

    <app-nav-button class="nav__side nav__right">
        <a routerLink="/create">
            <span class="arrow">&#62;</span>
            <span>create</span>
        </a>
    </app-nav-button>
    <div class="about">
        <app-about></app-about>
    </div>
</div>

<!-- <img width="500px" src="assets/kawaka.svg"/> -->