@import "../../../styles.scss";

app-kawaka-title {
    // margin-top: 50%;
    min-width: 40rem;
    // width: 90%;
    height: 90%;
}

.main {
    flex-flow: column;
    app-about{
        height: 100%;
        margin:0;
    }
    .main__waves {
        position: absolute;
        z-index: 1;
        bottom: 0px;
        background-image: url("/assets/layered-waves.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: red;
        height: 50rem;
        width: 100%;
    }
    // justify-content: center;
    .main__title-screen {
        height: 100vh;
        z-index:10;
    }
    .main__about {
        z-index: 10;
        color: $primary-color;
        i {
            font-style: normal;
        }
    }
}

@media (max-width: 850px) {
    nav {
        a span.arrow {
            display: none;
        }
        .nav__left,
        .nav__right {
            position: static !important;
        }
        display: flex !important;
        flex-flow: column !important;
        align-items: center;
        justify-content: center;
    }
}
