@use "/src/styles" as *;
.main {
  width: 100%;
}
.recipes-container {
  width: 100%;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  // border: 2px solid;
  // overflow-y: scroll;
  li {
  }
}
