@use "/src/styles" as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.title {
  text-align: center;
  color: $espresso;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipes-container {
  display: flex;
  width: 80%;

  flex-direction: row;
  flex-wrap: wrap;
  // border: 2px solid;
  // overflow-y: scroll;
  @media #{$phone} {
    width: 100%;
  }

  li {
    margin: 0.5rem 1rem;

    @media #{$phone} {
      width: 100%;
    }
  }
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
