<div class="main">
  <div class="title">
    <app-kawaka-title></app-kawaka-title>
  </div>
  <div class="waves">
    <app-nav-button class="nav__bottom" (click)="AboutButtonClick()">
      <span>
        About
      </span>
    </app-nav-button>
  </div>

  <a routerLink="/recipes" class="nav__side nav__left">
    <app-nav-button type="left">
      <span>recipes</span>
    </app-nav-button>
  </a>

  <app-nav-button type="right" class="nav__side nav__right">
    <a routerLink="/create">
      <span>create</span>
    </a>
  </app-nav-button>
  <div class="about">
    <app-about></app-about>
  </div>
</div>
