@import "../../../../styles.scss";

.main {
  display: grid;
  grid-template-areas:
    "nav-left main nav-right"
    "waves waves waves"
    "about about about";
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 80vh 20vh auto;
  flex-grow: 1;
  padding: 0rem;
}

.title {
  grid-area: main;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  app-kawaka-title {
    min-width: 40rem;
    width: 100%;
  }
}

.waves {
  //hack to accomodate background
  height: 120vh;
  width: 100%;
  margin: -100vh 0;
  background-image: url("/assets/layered-waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  grid-area: waves;

  display: flex;

  justify-content: center;
  align-items: flex-end;
  .nav__bottom {
    span {
      color: $primary-color;
      font-size: 2rem;
    }
    font-size: 2rem;
    margin: 5rem;
  }
}

.nav__side {
  justify-self: center;
  align-self: center;

  a {
    display: flex;
    flex-flow: column;
  }

  .nav__left {
    grid-area: nav-left;
  }
  .nav__right {
    grid-area: nav-right;
  }
}

.about {
  grid-area: about;
}

.arrow {
  font-size: 2rem;
  font-weight: bold;
}

// @media (max-width: 850px) {
//     nav {
//         a span.arrow {
//             display: none;
//         }
//         .nav__left,
//         .nav__right {
//             position: static !important;
//         }
//         display: flex !important;
//         flex-flow: column !important;
//         align-items: center;
//         justify-content: center;
//     }
// }
