<div class="about">
    <div class="about__main" >
        <div class="explanations">
            <div class="explanation-row" [@fadeInAnimation]="inViewPort">
                <div class="explanation-image"></div>
                <article>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                </article>
            </div>
            <div class="explanation-row" [@fadeInAnimationFromRight]="inViewPort">
                <article>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi debitis et error distinctio autem
                    eaque
                    veniam totam aspernatur nemo iste reprehenderit asperiores, officia nam velit nesciunt inventore
                    sint
                    aperiam quidem?
                </article>
                <div class="explanation-image"></div>
            </div>
        </div>
    </div>
</div>