@import "../../../styles.scss";

.header {
  display: flex;
  padding: 1rem;

  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;

  app-recipes-list {
    width: 90%;
  }
}

.nav__side {
  justify-self: center;
  align-self: center;

  a {
    display: flex;
    flex-flow: column;
  }

  .nav__left {
    grid-area: nav-left;
  }
  .nav__right {
    grid-area: nav-right;
  }
}
