@import "../../../styles.scss";

app-header {
  background-color: $primary-color;
  height: 4rem;

  @media #{$phone} {
    position: fixed;
    top: 0;
    left: 0;

    height: 3rem;
  }
}

.page {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;

  app-recipes-list {
    width: 100%;
  }
}
