<div classs="page">
        <div class="header">
                <app-nav-button-shield>
                                <a routerLink="/">
                                        <span>home</span>
                                </a>
                </app-nav-button-shield>

                <app-nav-button-shield>
                                <a routerLink="/">
                                        <span>create</span>
                                </a>
                        </app-nav-button-shield>
        </div>
        <div class="main">
                <app-recipes-list></app-recipes-list>
        </div>
</div>