<div class="page">
        <app-recipes-list></app-recipes-list>

        <nav>
        <app-nav-button class="nav__right">
                <a routerLink="/">
                    <span class="arrow">&#62;</span>
                    <span>home</span>
                </a>
        </app-nav-button>
        <app-nav-button class="nav__right">
                <a routerLink="/create">
                    <span class="arrow">&#62;</span>
                    <span>create</span>
                </a>
        </app-nav-button>
        </nav>
</div>