@import "../../../styles.scss";

.page{


}

.header{
    display: flex;
    padding: 2rem;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    app-recipes-list{
        width: 80%;
    }

}

