<form>
  <div class="field">
    Name:
    <app-text-field></app-text-field>
  </div>

  <div class="field">
    Coffee:
    <app-text-field></app-text-field>
  </div>

  <div class="field">
    Method:
    <app-text-field></app-text-field>
  </div>

  <div class="field">
    Duration:
    <app-text-field></app-text-field>
  </div>
  <div class="field">
    Temp:
    <app-text-field></app-text-field>
  </div>

  <div class="field">
    Time:
    <app-text-field></app-text-field>
  </div>

  <app-nav-button >Submit</app-nav-button>
</form>
