/* You can add global styles to this file, and also import other style files */

$primary-color: #ffe8d6;
$secondary-color: #b7b7a4;
$dark-coffee: #1B0000;

$background: #ffffff;
$error: #b00020;

$on-error: #ffffff;
$on-background: #000000;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
html{
  overflow-y: scroll;
}
body {
    font-family: "M PLUS 2", sans-serif;
    margin: 0;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.page {
    background-color: $primary-color;
    width: auto;
    height: 100%;
    padding: 0rem 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav {
        z-index:10;
        a {
            span {
                font-size: 1rem;
                text-transform: uppercase;
                padding: 2rem;
                padding-top: 0.5rem;
            }
            display: flex;
            align-items: center;
            flex-flow: column;
        }
        .nav__left {
            position: absolute;
            top: 50vh;
            left: 1rem;
        }
        .nav__right {
            position: absolute;
            top: 50vh;
            right: 1rem;
        }
    }
}
