/* You can add global styles to this file, and also import other style files */

$primary-color: #ffe8d6;
$secondary-color: #eed3c0;
$flat-white: #783b36;
$espresso: #562827;
$dark-coffee: #1b0000;

$background: #ffffff;
$error: #b00020;

$on-error: #ffffff;
$on-background: #000000;

$phone: "only screen and (max-width: 600px)";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

body {
  font-family: "M PLUS 2", sans-serif;
  a {
    color: inherit;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  // background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  height: 0;
  background: transparent;
}

li {
  list-style-type: none;
}
